<app-header></app-header>
<div class="search-hero">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
         placeholder="Start searching for a listing by entering: Model name, Brand, Year, Torque, Fuel Type, Fuel Capacity, Price, Power, Weight or Top Speed">
</div>

<div id="container" class="container">
  <app-listing-item *ngFor="let car of cars | filter:searchText" [car] = "car" class="box"></app-listing-item>
</div>
<div class="card-footer pb-0 pt-3">
  <jw-pagination [items]="cars" (changePage)="onChangePage($event)"></jw-pagination>
</div>
<section *ngIf="cars?.length === 0" class="no-content">
  <h1>No listings at the moment!</h1>
  <h2>Please check again later!</h2>
</section>
<app-footer></app-footer>
