<div class="container mx-auto mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="{{car.mainImage}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{car.modelName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{car.brand}}</h6>
          <p class="card-text">Type: {{car.type}} Drivetrain: {{car.drivetrain}}</p>
          <button *ngIf="isAuthor" class="btn btn-lg btn-outline-primary" (click)="open(content, car)">Update</button>
          <button  class="btn btn-lg btn-outline-primary" [routerLink]="['/details', car.id]">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--EDIT MODAL-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="update-car-modal">Edit Listing {{modelName}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="false">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #editForm="ngForm" [formGroup]="updateForm" (ngSubmit)="editForm.form.valid">
              <hr />
              <div class="form-group text">
                <label for="modelName">Model Name</label>
                <input id="modelName" name="modelName" class="form-control" formControlName="modelName" [(ngModel)]="editCar.modelName"/>
                <span class="text-danger" *ngIf="updateForm.get('modelName').touched && updateForm.get('modelName').errors?.required">Name of the model is required.</span>
              </div>
              <div class="form-group text">
                <label for="brand">Brand</label>
                <input id="brand" name="brand" class="form-control" formControlName="brand" [(ngModel)]="editCar.brand"/>
                <span class="text-danger" *ngIf="updateForm.get('brand').touched && updateForm.get('brand').errors?.required">Brand is required.</span>
              </div>
              <div class="form-group text">
                <label for="type">Type</label>
                <input id="type" name="type" class="form-control" formControlName="type" [(ngModel)]="editCar.type"/>
                <span class="text-danger" *ngIf="updateForm.get('type').touched && updateForm.get('type').errors?.required">Type is required.</span>
                <span class="text-danger" *ngIf="updateForm.get('type').touched && updateForm.get('type').errors?.invalidType">Type must be one of the following:
             SUV, Sedan, Hatchback, Coupe, Truck or Smart!</span>
              </div>
              <div class="form-group text">
                <label for="power">Power</label>
                <input id="power" type="number" name="power" class="form-control" formControlName="power" [(ngModel)]="editCar.power"/>
                <span class="text-danger" *ngIf="updateForm.get('power').touched && updateForm.get('power').errors?.required">Power is required.</span>
                <span class="text-danger" *ngIf="updateForm.get('power').touched && updateForm.get('power').errors?.min">Power must be at least 50 Hp!</span>
              </div>
              <div class="form-group text">
                <label for="topSpeed">Top Speed</label>
                <input id="topSpeed" type="number" name="topSpeed" class="form-control" formControlName="topSpeed" [(ngModel)]="editCar.topSpeed"/>
                <span class="text-danger" *ngIf="updateForm.get('topSpeed').touched && updateForm.get('topSpeed').errors?.required">Top speed is required.</span>
                <span class="text-danger" *ngIf="updateForm.get('topSpeed').touched && updateForm.get('topSpeed').errors?.min">Top speed must be at least 60 Kmh!</span>
              </div>
              <div class="form-group text">
                <label for="torque">Torque</label>
                <input id="torque" type="number" name="torque" class="form-control" formControlName="torque" [(ngModel)]="editCar.torque"/>
                <span class="text-danger" *ngIf="updateForm.get('torque').touched && updateForm.get('torque').errors?.required">Torque is required.</span>
                <span class="text-danger" *ngIf="updateForm.get('torque').touched && updateForm.get('torque').errors?.min">Torque must be at least 100 Nm</span>
              </div>
              <div class="form-group text">
                <label for="fuelCapacity">Fuel Capacity</label>
                <input id="fuelCapacity" type="number" name="fuelCapacity" class="form-control" formControlName="fuelCapacity" [(ngModel)]="editCar.fuelCapacity"/>
                <span class="text-danger" *ngIf="updateForm.get('fuelCapacity').touched && updateForm.get('fuelCapacity').errors?.required">Fuel capacity is required.</span>
                <span class="text-danger" *ngIf="updateForm.get('fuelCapacity').touched && updateForm.get('fuelCapacity').errors?.min">Fuel capacity must be at least 20 litres!</span>
              </div>
              <div class="form-group text">
                <label for="weight">Weight</label>
                <input id="weight" type="number" name="weight" class="form-control" formControlName="weight" [(ngModel)]="editCar.weight"/>
                <span class="text-danger" *ngIf="updateForm.get('weight').touched && updateForm.get('weight').errors?.required">Weight is required.</span>
                <span class="text-danger" *ngIf="updateForm.get('weight').touched && updateForm.get('weight').errors?.min">Weight must be at least 1000 kg!</span>
              </div>
              <div class="form-group text">
                <label for="fuelType">Fuel Type</label>
                <input id="fuelType" name="fuelType" class="form-control" formControlName="fuelType" [(ngModel)]="editCar.fuelType"/>
                <span class="text-danger" *ngIf="updateForm.get('fuelType').touched && updateForm.get('fuelType').errors?.required">Fuel type is required.</span>
                <span class="text-danger" *ngIf="updateForm.get('fuelType').touched && updateForm.get('fuelType').errors?.invalidFuelType">Fuel type must be one of the following:
             Petrol, Diesel or Hybrid!</span>
              </div>
              <div class="form-group text">
                <label for="transmission">Transmission</label>
                <input id="transmission" name="transmission" class="form-control" formControlName="transmission" [(ngModel)]="editCar.transmission"/>
                <span class="text-danger" *ngIf="updateForm.get('transmission').touched && updateForm.get('transmission').errors?.required">Transmission is required.</span>
                <span class="text-danger" *ngIf="updateForm.get('transmission').touched && updateForm.get('transmission').errors?.invalidTransmission">Transmission must be Automatic or Manual.</span>
              </div>
              <div class="form-group text">
                <label for="drivetrain">Drivetrain</label>
                <input id="drivetrain" name="drivetrain" class="form-control" formControlName="drivetrain" [(ngModel)]="editCar.drivetrain"/>
                <span class="text-danger" *ngIf="updateForm.get('drivetrain').touched && updateForm.get('drivetrain').errors?.required">Drivetrain is required.</span>
                <span class="text-danger" *ngIf="updateForm.get('drivetrain').touched && updateForm.get('drivetrain').errors?.invalidDrivetrain">Drivetrain must be one of the following:
            AWD, RWD or FWD.</span>
              </div>
              <div class="form-group text">
                <label for="price">Price</label>
                <input id="price" name="price" type="number" class="form-control" formControlName="price" [(ngModel)]="editCar.price"/>
                <span class="text-danger" *ngIf="updateForm.get('price').touched && updateForm.get('price').errors?.required">Price is required.</span>
                <span class="text-danger" *ngIf="updateForm.get('price').touched && updateForm.get('price').errors?.min">Price must be above 500$!</span>
              </div>
              <div class="form-group text">
                <label for="yearOfProduction">Year of production</label>
                <input id="yearOfProduction" type="number" name="yearOfProduction" class="form-control" formControlName="yearOfProduction" [(ngModel)]="editCar.yearOfProduction"/>
                <span class="text-danger" *ngIf="updateForm.get('yearOfProduction').touched && updateForm.get('yearOfProduction').errors?.required">Year of production is required.</span>
                <span class="text-danger" *ngIf="updateForm.get('yearOfProduction').touched && updateForm.get('yearOfProduction').errors?.min">Year of production must be after 1990!</span>
              </div>

              <div class="form-group text">
                <label for="mainImage">Main Image</label>
                <input id="mainImage" name="mainImage" class="form-control" type="url" formControlName="mainImage" [(ngModel)]="editCar.mainImage" readonly>
                <input id="mainImageURL" type="file" name="mainImage" (change)="uploadMainPhotoToCloud($event)" />
                <span class="text-danger" *ngIf="updateForm.get('mainImage').touched && updateForm.get('mainImage').errors?.required">Main image is required.</span>
              </div>

              <div class="form-group img">
                <label for="secondImage">Second Image</label>
                <input id="secondImage" name="secondImage" class="form-control" formControlName="secondImage" [(ngModel)]="editCar.secondImage"  type="url" readonly>
                <input id="secondImageURL" type="file" name="secondImage" (change)="uploadSecondPhotoToCloud($event)" />
                <span class="text-danger" *ngIf="updateForm.get('secondImage').touched && updateForm.get('secondImage').errors?.required">Second image is required.</span>
              </div>

              <div class="form-group img">
                <label for="thirdImage">Third Image</label>
                <input id="thirdImage" name="thirdImage" class="form-control" formControlName="thirdImage" [(ngModel)]="editCar.thirdImage"  type="url" readonly>
                <input id="thirdImageURL" type="file" name="thirdImage" (change)="uploadThirdPhotoToCloud($event)" />
                <span class="text-danger" *ngIf="updateForm.get('thirdImage').touched && updateForm.get('thirdImage').errors?.required">Third image is required.</span>
              </div>

              <div class="form-group text">
                <input id="author" name="author" class="form-control" formControlName="author" [(ngModel)]="editCar.author" readonly hidden/>
              </div>


              <div class="form-group">
                <button type="submit" class="btn btn-primary" (click)="onUpdateCar(editCar); modal.dismiss('Submit')">Submit</button>
              </div>
    </form>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="update-car-modal"
     aria-hidden="false">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
</ng-template>

