<div class="container mx-auto mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="{{car.mainImage}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{car.modelName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{car.brand}}</h6>
          <p class="card-text">Type: {{car.type}} Drivetrain: {{car.drivetrain}}</p>
          <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
          <a href="#" class="btn "><i class="fab fa-github"></i> Github</a>
        </div>
      </div>
    </div>
  </div>
</div>
