footer {
    background: rgb(38, 38, 56);
  position:fixed;
  bottom:0;

  width:100%;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
    text-align: center;
    color: azure;
}

footer span {
    font-size: 1.5em;
}
