<app-header></app-header>
<button (click)="back()">Return</button>

<section>
  <article class="car-header">
    <h1>{{car?.modelName}}</h1>
  </article>
  <article class="car-images">
    <img src="{{car?.secondImage}}">
    <img src="{{car?.thirdImage}}">
    <img class="main-image" src="{{car?.mainImage}}">
  </article>
  <article class="main-information">
    <p>Model name: {{car?.modelName}}</p>
    <p>Brand: {{car?.brand}}</p>
    <p>Type: {{car?.type}}</p>
    <p>Transmission: {{car?.transmission}}</p>
    <p>Year of production: {{car?.yearOfProduction}}</p>
    <p>Price: {{car?.price}}</p>
  </article>
  <article class="secondary-information">
    <p>Power: {{car?.power}}</p>
    <p>Top speed: {{car?.topSpeed}}</p>
    <p>Torque: {{car?.torque}}</p>
    <p>Fuel Capacity: {{car?.fuelCapacity}}</p>
    <p>Weight: {{car?.weight}}</p>
    <p>Fuel Type: {{car?.fuelType}}</p>
    <p>Drivetrain: {{car?.drivetrain}}</p>
  </article>
  <button *ngIf="isAuthor" class="btn " (click)="onDelete(car?.id)"> Delete</button>

</section>

<section>
  <article>
    <h2>This listing's reviews:</h2>
    <app-review-item *ngFor="let review of reviews" [review] = "review" [carId]="review.car_id"></app-review-item>
  </article>
</section>
<app-footer></app-footer>
