/* You can add global styles to this file, and also import other style files */
/*global styling for sticky footer*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html, body, app-root {
  font-family: 'Montserrat',sans-serif;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;

}
