<app-header></app-header>
<section class="split left">
  <article>
  <h1>Select a listing to view it's reviews:</h1>
<select (change)="updateSelect($event)">
  <option value="" disabled selected>Select your option</option>
  <option *ngFor="let car of cars" [value]="car.id">{{car.modelName}} : {{car.brand}}</option>
</select>
  </article>

  <article>
  <app-review-item *ngFor="let review of reviews" [review] = "review" [carId]="review.car_id"></app-review-item>
  </article>
</section>

<section class="split right">
  <h1>Leave a listing review: </h1>
  <select  (change)="updateAdd($event)">
    <option value="" disabled selected>Select a listing:</option>
    <option *ngFor="let car of cars"  [value]="car.id">Model: {{car.modelName}} , Brand: {{car.brand}}</option>
  </select>

  <form #editForm="ngForm" *ngIf="add" [formGroup]="updateForm" (ngSubmit)="editForm.form.valid && onAddReview(editForm)">
    <input type="number" class="form-control" formControlName="car_id" [(ngModel)]="carId" >
    <input type="text" class="form-control" formControlName="text">
    <input  class="form-control" formControlName="author" [(ngModel)]="author.username" >
    <input  class="form-control" formControlName="timeOfCreation" [(ngModel)]="timeOfCreation" >
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" (click)="updateAddForm()">Close</button>
    </div>
  </form>
</section>
<app-footer></app-footer>

